*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Ubuntu', sans-serif;
}

img{
    width: 100%;
}

.nav-header{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-logo{
    width: 33%;
    min-width: 360px;
    max-width: 480px;
}

.nav-search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 66%;
    padding: 5px;
}

.nav-search-input{
    height: 36px;
    width: 100%;
		border-radius: 2rem;
}

.nav-search-btn{
    background: white;
    cursor: pointer;
    border: 1px solid #8f8f9d;
    border-radius: 2rem;
    border-left: transparent;
    height: 40px;
    width: 40px;
}

.nav-search-btn:hover{
    border: 1px solid #676774;
		border-radius: 2rem;
}

.nav-menu-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    padding: 5px;
		color: #ffffff;
}

.nav-menu-list a{
    text-decoration: none;
    padding: 5px;
    margin: 0px 10px;
		color: #ffffff;
}

.nav-header-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.nav-header-menu a{
    text-decoration: none;
    padding: 5px;
    margin: 0px 10px;
		color: #ffffff;
}
