*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Ubuntu', sans-serif;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

.nav-header{
    background-color: #1397d5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-logo{
    width: 33%;
    min-width: 360px;
    max-width: 480px;
}

.nav-search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 66%;
    padding: 5px;
}

.nav-search-input{
    height: 36px;
    width: 100%;
    border-radius: 2rem;
}

.nav-search-btn{
    background: white;
    cursor: pointer;
    border-radius: 2rem;
    height: 40px;
    width: 42.25px;
}

.nav-search-btn:hover{
    border: 1px solid #676774;
    border-radius: 2rem;
}

.nav-menu-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    padding: 5px;
    color: #ffffff;
}

.nav-menu-list a{
    padding: 5px;
    margin: 0px 10px;
    color: #ffffff;
}

.nav-header-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.nav-header-menu a{
    text-decoration: none;
    padding: 5px;
    margin: 0px 10px;
    color: #ffffff;
}

.row-container{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px;
}

.section-heading{
    display: flex;
    align-items: center;
}

.section-heading > *{
    padding: 0 10px;
    margin: auto;
}

.carousel-container{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.ui-item{
    width: 240px;
    box-shadow: 5px 5px 5px 0px #9892A3;
    margin: 5px;
}

.ui-item_image-container{
    width: 100%;
    padding-bottom: 10px;
}

.ui-item_link{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.ui-item_image{
    height: 260px;
}

.ui-item_price-block{
    padding: 10px;
}

.ui-item_price-block > .before-price{
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.5)
}

.ui-item_price-block > .after-price{
    font-size: xx-large;
}

.categories-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.category{
    box-shadow: 5px 5px 5px 0px #9892A3;
    margin: 5px;
}

.category-icon{
    padding: 5px;
}

.category-icon > *{
    font-size: 120px;
}

.category-description{
    padding: 5px;
}

/**********DIVISION**********/

.titulowho{
		display: flex;
		align-items: center;
		justify-content: center;
}

.tablawho{
		display: flex;
		justify-content: center;
		align-items: center;
}

.thead1{
		border-radius: 2rem;
}

.tbody1{
		border-radius: 2rem;
}


.formulario{
		display: flex;
		align-items: center;
		justify-content: center;

}


.Tituloa1{
 		display: flex;
		align-items: center;
		justify-content: center;
}


.Form{
		display: flex;
		align-items: center;
		justify-content: center;
}

.R{
		display: flex;
		justify-content: center;
}
.Parrafos{
		display: flex;
		justify-content: center;
		align-items: center;

}


